<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoFlow</title>
    <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo" onclick="window.location.href='/'">
            <img src="~/images/autoflow.png" alt="Logo AutoFlow" />
        </div>
        <div class="nav-button-container">
        </div>
        <button class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
    <div class="mobile-menu">
    </div>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/js/navigation.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>